@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300&display=swap');

$primaryColor: #0282f9;
$secondaryColor: #303030;
$mainColor: #1c1c1c;
$whiteColor: #ffffff;
$textColor: #7d6a56;

$listFont: 'Gemunu Libre';